In [2]:
import pandas as pd

In [3]:
#Pp
df = pd.read_csv('../Pp_combined_with_SRR_all.csv')

In [10]:
df.shape

(35, 8)

In [9]:
df.head()

,ID,Pe_F,Pe_R,Pe_ratio,Span_F,Span_R,Span_ratio,SRR_ID
0,k141_1028409:1445-1460-2089-2104,36,8,0.18,25,5,0.17,SRR19415685
1,k141_1039875:34300-34321-34450-34471,26,34,0.57,16,23,0.59,SRR19415685
2,k141_1089092:2742-2766-3312-3336,8,12,0.60,6,6,0.50,SRR19415685
3,k141_1238977:3580-3622-4202-4244,6,14,0.70,1,8,0.89,SRR19415656
4,k141_132640:119357-119378-119615-119636,180,18,0.09,124,12,0.09,SRR19415685

In [7]:
len(df['ID'].unique())

32

In [11]:
len(df['SRR_ID'].unique())

6

In [4]:
#Pt
df = pd.read_csv('../pt_combined_with_SRR_all.csv')

In [5]:
df.shape

(13, 8)

In [6]:
df.head()

,ID,Pe_F,Pe_R,Pe_ratio,Span_F,Span_R,Span_ratio,SRR_ID
0,k141_1266446:6691-6703-6741-6753,52,12,0.19,31,5,0.14,SRR19415655
1,k141_140520:40487-40502-41165-41180,0,8,1.00,0,4,1.00,SRR19415660
2,k141_144478:2203-2222-2337-2356,30,6,0.17,24,5,0.17,SRR19415655
3,k141_154859:4522-4545-4694-4717,16,34,0.68,9,21,0.70,SRR19415655
4,k141_158980:371-386-486-501,14,16,0.53,13,12,0.48,SRR19415655

In [7]:
len(df['ID'].unique())

12

In [8]:
len(df['SRR_ID'].unique())

3

In [9]:
#Pts
df = pd.read_csv('../pts_combined_with_SRR_all.csv')

In [10]:
df.shape

(178, 8)

In [11]:
df.head()

,ID,Pe_F,Pe_R,Pe_ratio,Span_F,Span_R,Span_ratio,SRR_ID
0,c_000000000001:241699-241715-241756-241772,0,150,1.00,0,122,1.00,SRR19415690
1,c_000000000001:31028-31044-31142-31158,2,6,0.75,2,6,0.75,SRR19415683
2,c_000000000001:31028-31044-31142-31158,0,8,1.00,0,8,1.00,SRR19415682
3,c_000000000001:31028-31044-31142-31158,0,8,1.00,0,8,1.00,SRR19415690
4,c_000000000002:374932-374955-375024-375047,18,16,0.47,8,8,0.50,SRR19415683

In [12]:
len(df['ID'].unique())

127

In [13]:
len(df['SRR_ID'].unique())

11